.App {
  text-align: center;
}

.body{
  margin-left:280px;
  padding: 2em;

  display:block;
  padding-top: 10px;
}
#light_table{
  border: 3px solid black;
  width:100%;
  border-collapse: collapse;
  text-align: center;
}
th, td{
  border: 3px solid black;
  padding: 5px;
}
td {
  width:25%;
  align-content: center;
  align-items: center;
}
.menu {
  width:280px;
  position:fixed;
  min-height:89.3vh;
  bottom:0;
  left:0;
  top:0px;
  float:left;
  color: white;
  display: block;
}
