.b {
    background-image: url("https://www.mtu.edu/admissions/images/michigan-tech-admissions-banner2400.jpg");
    position: fixed;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    align-items: center
}

.a {
    top: 5pt;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    align-items: center;
    text-align: center;
}

.text {

}