.App {
  background-image: url("https://www.mtu.edu/admissions/images/michigan-tech-admissions-banner2400.jpg");
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
}

